<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devsoc Admin</title>
  </head>
  <body>
    <form method="POST" action="/admin">
      <input type="text" name="event" placeholder="Event Name" />
      <input type="text" name="desc" placeholder="Event Description" />
      <input type="date" name="start" placeholder="Start Date" />
      <input type="date" name="end" placeholder="End Date" />
      <input type="text" name="formLink" placeholder="Google Form Link" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
